@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    height: 80px;
}

.logo-header h1 {
    margin-left: 215px;
}

.logo-header h1,
.logo-footer h1 {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.logo-header span,
.logo-footer span {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

header nav {
    margin-left: 90px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 51px;
}

nav ul li a {
    text-decoration: none;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

nav a:hover {
    color: rgba(33, 150, 243, 1);
}

.contact-info a:hover {
    color: rgba(33, 150, 243, 1);
}

nav .active {
    color: #007BFF;
}

.contact-info {
    margin-left: 344px;
}

.contact-info a:last-of-type {
    margin-left: 45px;
}

.contact-info a {
    text-decoration: none;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.line {
    width: 1600px;
    height: 1px;
    background: #ECECEC;
}

.menu nav {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 94px;
}

.menu nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu nav ul li {
    margin: 0 1px;
}

.menu nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.menu nav ul li a.active {
    color: #ffffff;
}

.example {
    margin-top: 34px;
    margin-bottom: 94px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.example-foto {
    padding-left: 24px;
    border: 1px solid rgba(238, 238, 238, 1);
    width: 370px;
    height: 404px;
}

footer {
    background: #2F303A;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    margin-left: -1015px;
}

.logo-footer span {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

footer .address {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.footer-link:hover {
    color: rgba(33, 150, 243, 1);
}


.menu .link {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgba(245, 244, 250, 1);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu .active {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
